h1{
	font-size:20px;
	margin-top:5px;
	font-weight:normal;
	color:#00a460;
}
h2{
	font-size:15px;
	font-weight:lighter;
	text-align:justify;
}
h3{
	font-size:20px;
	font-weight:normal;
	color:#999;
}
h4{
	font-size:27px;
	font-weight:lighter;
	text-align:center;
	margin-top:5px;
	margin-bottom:0px;
}
h5{
	font-size:15px;
	font-weight:normal;
	text-align:justify;
	color:#616161;
}