.menu_column{
	font-size: 96%;
	/*float:left;
	height:50px;
	width:850px;*/
	text-transform:uppercase;
}
.main_column{
	margin:auto;
	height:50px;
	width:1100px;
	background-color:#FFF;
}
.navbar {
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -o-border-radius: none;
    -ms-border-radius: none;
    border-radius: none;
}   
.after_column{
	float:right;
	margin-right:0px;
	height:50px;
	width:240px;
	background-image:url(../icons/user_.png);
	background-repeat:no-repeat;
	background-position:3px;
}
.after_column:hover{
	background-image:url(../icons/user_x.png);
}
/*ul {
	display: table;
	margin: 0;
	overflow: auto;
	padding: 0;
}
 li {
	display: block;
	float:left;
	line-height:50px;
}
li a {
	color:#000;
	text-decoration:none;
	padding:0px 27px;
	display: block;
	text-align: center;
}*/

 li a:hover {
	 color:#3eb8f1;
	 background-color:#f0f0f0;
 }
 li a#active{
	 background-color:#f0f0f0;
	 color:#3eb8f1;
}
 a{
	 text-decoration:none;
	 color:#5a5a5a;
 }
 a:hover{
	 color:#1997e7;
 }
 
 select optgroup{		/*this is to change the select optgroup style*/
    font-style:normal;
    font-weight:normal;
    }
 

/*after loggin session*/
.session-box{
	float: right;
	height: 30px;
	margin-top: 12px;
	width: 180px;
	font-weight: bold;
	text-align: left;
}